@import "./normalize.css";
@import "./transition.scss";
@import "./variables.scss";

body {
  min-width: 320px;
  max-width: 560px !important;
  margin: 0 auto !important;
  width: 10rem;
  box-sizing: border-box;

  #app {
    .van-tabs__content {
      margin-bottom: 50px;
    }
  }
}


